# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro bundler cache
# https://facebook.github.io/metro/docs/en/configuration
.cache/
temp/

# React Native packager
*.pack
*.pack.*

# Xcode
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcshareddata/
ios/*.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcshareddata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android/IntelliJ
android/.gradle/
android/app/build/
android/app/release/
android/local.properties
android/.idea/
android/captures/
*.iml

# macOS
*.DS_Store

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/**/*.png
*/fastlane/test_output/**/test*.log

# Bundle files
*.jsbundle

# Temporary files
*.tmp
*.temp

# Other IDEs
.idea/
.vscode/

# NPM
package-lock.json
yarn.lock
